// HEADER COMPONENT

/*
* Header 
*/  

.Roadin-header {
  z-index: 999;
  height: 70px;
  line-height: 70px;
  background-color: rgba(0, 0, 0, 0);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  .Roadin-header--logo {
    float: left;
    font-family: 'Montserrat-bold';
    margin-left: 20px;
    color: #ffffff;
    font-size:23px;
  }

  .Roadin-header--navigation {
    float: right;
    .Roadin-header--navigation--links {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      margin-right: 20px;
      color: #ffffff;
    }
    .Roadin-header--navigation--avatar {
      border-radius: 50%;
    }
  }
}



