// TRAVEL PAGE

/*
*   Map
*/
.Roadin-map {
  #map {
    height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
  }
}

/*
*   Container
*/
.Roadin-container {
  .Roadin-container--header {
    margin-top: 20px;
    background-color: #eeeeee;
    padding: 20px;
    border-radius: 10px;
    .Roadin-container--header-dates, .Roadin-container--header-budget {
      font-family: 'Lato', sans-serif;
      color: #777777;
      font-size: 10px;
    }
    .Roadin-container--header-participants {
      width: 7%;
      border-radius: 50%;
      margin: 0 2px;
    }
  }
  .Roadin-container--cards {
    margin-top: 20px;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    .Roadin-container--cards-title {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 17px;
      color: #8f8f8f;
    }
    .Roadin-container--cards-subtitle {
      color: #8f8f8f;
      background-color: #eeeeee;
      padding: 5px;
      border-radius: 20px;
      text-transform: uppercase;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
    }
    .Roadin-container--cards-text {
      font-family: 'Lato', sans-serif;
      color: #8f8f8f;
      font-size: 11px;
    }
    &:hover {
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    }
  }
}

/*
*   Modal
*/
.Roadin-modal {
  position: absolute;
  top: 50%;
  right: -2000px;
  transform: translate(-50%, 0);
  height: 70vh;
  background-color: #ffffff;
  transition-duration: 0.3s;
}

.Roadin-modal--open {
  padding: 30px;
  position: fixed;
  top: 60%;
  transform: translate(0, -80%);
  right: 10%;
  height: 70vh;
  background-color: #ffffff;
  transition-duration: 0.3s;
  border-radius: 10px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
}

/*
*   Step Manager
*/
.Roadin-step-manager--arrows {
  color: #ffffff;
  font-size: 25px;
  cursor: pointer;
}

.Roadin-step-manager {
  background-color: rgb(34, 34, 34);
  border-radius: 10px;
  height: 200px;
  position: fixed;
  bottom: -150px;
  right: 50px;
  .Roadin-step-manager--title {
    color: #ffffff;
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .Roadin-step-manager--arrow-back {
    position: absolute;
    top: 45%;
    left: 10px;
    .Roadin-step-manager--arrow-back-icon {
      @extend .Roadin-step-manager--arrows;
    }
  }
  .Roadin-step-manager--arrow-next {
    position: absolute;
    top: 45%;
    right: 10px;
    .Roadin-step-manager--arrow-bnext-icon {
      @extend .Roadin-step-manager--arrows;
    }
  }
  .Roadin-step-manager--cards {
    height: 100px;
    width: auto;
    background-color: #eeeeee;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    color: rgb(32, 32, 32);
    position: relative;
  }
  .Roadin-step-manager--badge {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .Roadin-step-manager--opener {
    cursor: pointer;
  }
}


#step_country {
  padding: 30px;
  height: 50px;
  width: 100%;
  background-color: #ffffff;
  border: 1px solid #ccc;
  color: #555555;
}

.Roadin-container--header-visitor {
  background-color: rgb(32, 32, 32);
  color: #ffffff;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  .Roadin-container--header-logo-visitor {
    font-family: 'Montserrat-bold';
    color: #ffffff;
    font-size:23px;
  }
}



// Twitter typeahead -- no BEM

span.twitter-typeahead {
  width: 100%;
}

.tt-open {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  width: 500px;
}

.tt-cursor  {
  background-color: #eeeeee;
  padding: 10px;
  border-radius: 5px;
}
