<!-- form for search users -->
<%= form_for [@travel, Participant.new], html: { class: "form-horiztontal" } do |f| %>
    <div class="form-group">
      <%= f.text_field :name, class: 'typeahead fetch-friends form-control', placeholder: 'Entrez le nom de votre ami...' %>
    </div>
  <%= f.submit 'Add to travel', class: 'Roadin-button Roadin-button--state-cherry' %>
<% end %>
<!-- end form for search users -->
