<div class="container-fluid banner-roadin">
  <%= image_tag('worldmap.svg', :class => 'worldmap') %>
  <div class="content-banner-roadin">
    <h1 class="main-title-roadin"> Welcome on roadin' ! </h1>
    <h3> The community travel agency </h3>
    <p> Roadin let you organize your trip, share your experience and find ideas for your next travel <br>
    thanks to the roadin toolbox ! </p>
    <h2><%= Emoji.find_by_alias("grin").raw %></h2>
    <button class="button-custom-roadin"> Explore the world </button>
  </div>
</div>
