<div class="container-fluid Roadin-banner">
  <%= image_tag('worldmap.svg', :class => 'Roadin-banner--background') %>
  <div class="Roadin-banner--content">
    <h1 class="Roadin-banner--content--title"> Welcome on roadin' ! </h1>
    <h4> The community travel agency </h4>
    <p class="Roadin-banner--content--text"> Roadin let you organize your trip, share your experience and find ideas for your next travel <br>
    thanks to the roadin toolbox ! </p>
    <h2 class="t1"><%= Emoji.find_by_alias("earth_americas").raw %></h2>
    <button class="Roadin-button Roadin-button--state-cherry"> Explore the world </button>
  </div>
</div>

<div class="container-fluid home-explore-roadin">
	<h2> The latest trips </h2>
	<% Travel.limit(3).each do |travel| %>
		<div class="home-latest-cards">
			<h3><%= link_to travel.title, travel_path(travel) %></h3>
		</div>
	<% end %>
</div>
