<%= form_for [@travel, @step, Toolbox.new] do |f| %>
	<%= f.hidden_field :travel_id, :value => @travel.id %>
	<%= f.hidden_field :step_id, :value => @step.id %>
	<p> The toolbox is a way to inform other people about things to do during there tripe ! It provide help ! </p>
    <%= f.submit 'Ok, do it', class: 'btn btn-custom-cherry' %>
<% end %>
