// variables
$orange_roadin:         #f9886c;
$cherry_roadin:         #FE405E;
$blue_roadin:           #08A8E1;

@mixin linear-gradient($deg, $begin, $end) {
  background: -webkit-linear-gradient($deg, $begin, $end);
  background: -o-linear-gradient($deg, $begin, $end);
  background: -moz-linear-gradient($deg, $begin, $end);
  background: linear-gradient($deg, $begin, $end);
}


// global
.container-fluid { padding: 0; }

.btn-cst-cherry-xs {
  background-color: $cherry_roadin;
  color: #ffffff;
  &:hover {
    color: #ffffff;
    background-color: darken($cherry_roadin, 4%);
  }
}
.btn-cst-blue-xs {
  background-color: $blue_roadin;
  color: #ffffff;
  &:hover {
    color: #ffffff;
    background-color: darken($blue_roadin, 4%);
  }
}

.button-custom-roadin {
  height: 50px;
  width: 200px;
  background-color: #ffffff;
  color: $orange_roadin;
  font-family: 'Lato', sans-serif;
  border: none;
  box-shadow: none;
  margin-top: 20px;
  border-radius: 10px;
}

.btn-custom-cherry {
  height: 40px;
  padding: 10px 15px;
  background-color: $cherry_roadin;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  border: none;
  box-shadow: none;
  margin-top: 20px;
  border-radius: 10px;
  &:hover {
    color: #ffffff;
    background-color: darken($cherry_roadin, 2%);
  }
}

.btn-custom-blue {
  height: 40px;
  padding: 10px 15px;
  background-color: $blue_roadin;
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  border: none;
  box-shadow: none;
  margin-top: 20px;
  border-radius: 10px;
  &:hover {
    color: #ffffff;
    background-color: darken($blue_roadin, 2%);
  }
}

.label-success-roadin {
  background-color: $blue_roadin;
}

.label-danger-roadin {
  background-color: $cherry_roadin;
}

.logout {
  color: #ffffff;
}

.footer {
  width: 100%;
  text-align: center;
  padding: 10px;
  background-color: rgb(32, 32, 32);
  color: #ffffff;
  font-family: 'Lato', sans-serif;
}

// scss code
.banner-roadin {
  @include linear-gradient(180deg, #FE405E, #ff7e5f);
  width: 100%;
  max-width: 100%;
  height: 100vh;
  .worldmap {
    position: absolute;
    z-index: 1;
  }
  .content-banner-roadin {
    z-index: 888;
    text-align: center;
    width: 100%;
    color: #ffffff;
    padding-top: 200px;
    text-shadow: 0px 0px 10px rgba(32, 32, 32, 0.3);
    .main-title-roadin {
      font-family: 'Montserrat-bold';
    }
    p {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
    }
  }
}

.link-registration-roadin {
  padding: 20px;
  text-align: center;
}

.btn-facebook {
  background-color: #3b5998;
  color: #ffffff;
  width: 100%;
  margin-bottom: 20px;
}

.btn-custom {
  @include linear-gradient(90deg, #ff7e5f, #feb47b);
  color: #ffffff;
  width: 100%;
}


// sidebar menu
  .user-menu-roadin {
    position: fixed;
    top: 0;
    left: 0;
    text-align: center;
    height: 100vh;
    background-color: rgb(34, 34, 34);
    padding: 20px;
    .user-logo {
      text-align: center;
      padding-bottom: 30px;
      .roadin-logo-user {
        font-family: 'Montserrat-bold';
        color: #ffffff;
        font-size: 23px;
        margin-bottom: 100px;
      }
    }
    .header-roadin-user-infos {
      text-align: center;
      .roadin-pic {
        border-radius: 50%;
        display: block;
        margin: 0 auto;
      }
      .user-name-roadin {
        padding-top: 10px;
        font-family: 'Montserrat-medium';
        color: #ffffff;
      }
    }
    .nav-user-roadin {
      padding-top: 50px;
      i {
        color: #ffffff;
        font-size: 15px;
      }
      a {
        font-family: 'Lato', sans-serif;
        font-weight: 700;
        width: 100%;
        height: 50px;
        display: block;
        color: #ffffff;
      }
    }
  }
