.rounded-button-roadin {
  background-color: #ff7e5f;
  color: #ffffff;
  border-radius: 50%;
  border: none;
  height: 40px;
  width: 40px;
}

.travel-mention-step {
	color: #777;
}

p {
	font-family: 'Montserrat-light';
}