#map {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
}

.arr {
  color: #ffffff;
  font-size: 25px;
  cursor: pointer;
}

 h1, h2, h3 {
  font-family: 'Montserrat-medium';
}

h4, h5, h6 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.header-describe-travel-roadin {
  margin-top: 20px;
  background-color: #eeeeee;
  padding: 20px;
  border-radius: 10px;
  .participant-pictures {
    width: 7%;
    border-radius: 50%;
  }
  h5 {
    font-family: 'Montserrat-medium';
  }
  p {
    font-family: 'Lato', sans-serif;
  }
  .travel-dates-roadin {
    font-family: 'Lato', sans-serif;
    color: #777777;
    font-size: 10px;
  }
  .travel-budget-avg {
    font-family: 'Lato', sans-serif;
    color: #777777;
    font-size: 10px;
  }
}

a {
  .travel-choice {
    margin-top: 20px;
    background-color: #f8f8f8;
    padding: 20px;
    border-radius: 10px;
    h5 {
      font-family: 'Lato', sans-serif;
      font-weight: 700;
      font-size: 17px;
      color: #8f8f8f;
    }
    h6 {
      color: #8f8f8f;
      background-color: #eeeeee;
      padding: 5px;
      border-radius: 20px;
      text-transform: uppercase;
      font-family: 'Lato', sans-serif;
      font-weight: 700;
    }
    p {
      font-family: 'Lato', sans-serif;
      color: #8f8f8f;
      font-size: 11px;
    }
  }
  &:hover {
    .travel-choice {
      box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.2);
    }
  }
}

.modal-type-roadin {
  padding: 30px;
}

.modal-roadin  {
  position: absolute;
  top: 0;
  right: -2000px;
  height: 100vh;
  background-color: #ffffff;
  transition-duration: 0.3s;
}

.modal-roadin-open {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  background-color: #ffffff;
  transition-duration: 0.3s;
}

.step-manager-roadin-on-map {
  background-color: rgb(34, 34, 34);
  border-radius: 10px;
  height: 200px;
  position: fixed;
  bottom: -150px;
  right: 50px;
  h4 {
    color: #ffffff;
    margin-left: 25px;
    margin-top: 15px;
    margin-bottom: 0px;
  }
  .arrow-back-step-manage {
    position: absolute;
    top: 45%;
    left: 10px;
    i {
      @extend .arr;
    }
  }
  .arrow-next-step-manage {
    position: absolute;
    top: 45%;
    right: 10px;
    i {
      @extend .arr;
    }
  }
  .each-steps-instance {
    height: 100px;
    width: auto;
    background-color: #eeeeee;
    margin: 20px;
    padding: 15px;
    border-radius: 10px;
    color: rgb(32, 32, 32);
    position: relative;
    .step-manager-time {
      font-size: 10px;
      color: #777;
    }
  }
  .toolbox-badge-roadin {
    position: absolute;
    top: 200px;
    left: 50%;
    transform: translate(-50%, 0);
  }
}

#close_open_step_manager {
  cursor: pointer;
}

.header-describe-travel-roadin-logout {
  background-color: rgb(32, 32, 32);
  color: #ffffff;
  margin-top: 20px;
  padding: 20px;
  border-radius: 10px;
  .logo-roadin {
    font-family: 'Montserrat-bold';
    color: #ffffff;
    font-size:23px;
  }
}

span.twitter-typeahead {
  width: 100%;
}

.tt-open {
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.4);
  width: 500px;
}
